@import "general";
@import "variables";
@import "header";
@import "boilerplate";
@import "navigation";

#page-description {
  padding: 200px 0;
  .form {
    max-width: 570px;
  }
}

.bg-banner {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

