@import "general";
@import "variables";
@import "header";
@import "boilerplate";
@import "navigation";
@import "main";

.bg-banner {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

