@import "variables";

.footer-section {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  padding-top: 62px;
  margin-bottom: 72px;
  
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    margin: 0;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.links {
  list-style-type: none;
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 0px;

  li {
    font-size: 16px;
    line-height: 24px;
  }

  a {

    text-decoration: none;
    color: $light;
  }
}

.social-links {
  padding: 0;
  column-gap: 24px;
}

.other-links {
   margin-top: 40px;
   padding-bottom: 49px;

   a {
    font-size: 16px;
    line-height: 24px;
    color: $gray;
    text-decoration: none;
    margin-right: 16px;
   }
}

@media (max-width: 414px) {
  .footer-section {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  
  .other-links {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    gap: 16px;
  }
  
}