@import "variables.scss";

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  margin: 0;
  
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.5;
  color: $gray;
  background-color: $dark;
}

.container {
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 1240px) {

  .container {
    max-width: 1200px;

    @media (max-width: $desktop) {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 414px) {

  .container {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
}